@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cattedrale";
  src: url(/assets/fonts/Cattedrale-Demo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Cattedrale-Outline";
  src: url(/assets/fonts/Cattedrale-Outline.ttf) format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.swiper-pagination-bullet {
  border: 1.6px solid rgba(253, 208, 38, 1);
}

.hero-swiper .swiper-button-next:after,
.hero-swiper .swiper-button-prev:after {
  display: none;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}


@media only screen and (max-width: 1024px) {
  :root {
    --swiper-pagination-bottom: 3rem;
  }
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(0%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

@media only screen and (min-width: 1024px) {
  .hero-swiper .swiper-button-next,
  .hero-swiper .swiper-button-prev {
    background: url("https://jbymoblt3fzt0jez.public.blob.vercel-storage.com/arrow.webp") no-repeat center;
    background-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20rem;
    z-index: 10;
  }

  .hero-swiper .swiper-button-prev {
    transform: rotate(180deg);
  }

  .swiper-button-prev:hover {
    opacity: 0.6;
    transition-duration: 200ms;
  }

  .swiper-button-next:hover {
    opacity: 0.6;
    transition-duration: 200ms;
  }
}

/* ROTATING BORDER ANIMATION */
.box {
  width: 100%;
  place-content: center;
  color: white;
  
  --border-angle: 0turn; 
  --main-bg: conic-gradient(
      from var(--border-angle),
      #0A1214,
      #0A1214 5%,
      #0A1214 60%,
      #0A1214 95%
    );

  border: solid 2px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #0A1214, #FDD026 99%, transparent);
  
  background: 
    /* // padding-box clip this background in to the overall element except the border. */
    var(--main-bg) padding-box,
    /* // border-box extends this background to the border space */
    var(--gradient-border) border-box, 
    /* // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background. */
    var(--main-bg) border-box;
  
  background-position: center center;

  animation: bg-spin 3s linear infinite;  

  /* &:hover {
    background: #000000;
  } */
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
